<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Artist Page</title>
    <link rel="stylesheet" href="/navbar.css"/>
    <link rel="stylesheet" href="/theme.css"/>
</head>

<body>
<header class="page-header">
    <div th:insert="~{fragments/navbar :: headerNav}"></div>
</header>

<h1>Create an Artist Page</h1>

<form th:action="@{/artists}" method="post" enctype="multipart/form-data">

    <div>
        <label>Artist Name</label><br>
        <input type="text" name="name" required>
    </div>

    <div>
        <label>Genre</label><br>
        <input type="text" name="genre" required>
    </div>

    <div>
        <label>Bio</label><br>
        <textarea name="bio" rows="5"></textarea>
    </div>

    <div class="mb-3">
        <label for="avatar">Profile Picture:</label><br>
        <input type="file"
               class="form-control mb-3"
               id="avatar"
               name="image"
               accept="image/*">
        <button type="button"
                id="clearMediaBtn"
                class="btn btn-outline-secondary btn-sm mt-2 d-none">
            Remove selected file
        </button>
    </div>

    <button type="submit">Create Artist Page</button>

</form>

<script>
    const mediaInput = document.getElementById("avatar");
    const clearBtn = document.getElementById("clearMediaBtn");

    clearBtn.classList.add("d-none");

    mediaInput.addEventListener("change", function () {
        if (mediaInput.files && mediaInput.files.length > 0) {
            clearBtn.classList.remove("d-none");
        } else {
            clearBtn.classList.add("d-none");
        }
    });

    clearBtn.addEventListener("click", function () {
        mediaInput.value = "";
        clearBtn.classList.add("d-none");
    });

</script>
</body>
</html>

