<a th:fragment="displayCard(title, path, imageSrc, imageAlt)" th:href="${path}"
   style="display:flex; flex-direction:column; align-items:center; text-align:center; margin:8px; text-decoration:none;"
   xmlns:th="http://www.w3.org/1999/xhtml">

    <div style="width:128px; height:128px; overflow:hidden; border-radius:12px;">
        <img th:src="${imageSrc}"
             th:alt="${imageAlt}"
             style="width:100%; height:100%; object-fit:cover; object-position:center; display:block;">
    </div>

    <div style="margin-top: 8px">
        <h4 class="display-card-name" th:text="${title}"></h4>
    </div>
</a>

