<a th:fragment="displayCard(title, path, imageSrc, imageAlt, id)" th:href="${path}"
   style="display: flex; flex-direction: column; margin: 8px; text-decoration: none;"
   xmlns:th="http://www.w3.org/1999/xhtml">
    <img height="128" width="128" th:src="${imageSrc}" th:alt="${imageAlt}"></img>
    <div style="margin-top: 8px" th:text="${title}"></div>
    <form th:action="@{/artists/{artistId}/switch-to-admin(artistId=${id})}" method="post">
        <button type="submit">
            Go to admin mode
        </button>
    </form>
</a>
