<div th:fragment="artistList">
    <ul class="artist-grid">
        <li th:each="artist : ${myArtists}" class="artist-item">
            <div th:replace="~{fragments/display-card :: displayCard(
                ${artist.name},
                '/artists/' + ${artist.id},
                ${artist.avatar} ?: 'https://placehold.co/128',
                'Picture of artist'
            )}"></div>

            <form th:if="${isAdminMode and activeAdminArtist.id == artist.id}"
                  th:action="@{/switch-to-user}" method="post" style="width: 100%;">
                <button type="submit" class="btn btn-admin-active">
                    Exit admin mode
                </button>
            </form>

            <form th:unless="${isAdminMode and activeAdminArtist.id == artist.id}"
                  th:action="@{/artists/{artistId}/switch-to-admin(artistId=${artist.id})}" method="post" style="width: 100%;">
                <button type="submit" class="btn btn-admin-switch">
                    Switch to admin mode
                </button>
            </form>
        </li>
    </ul>
</div>