<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${artist.name}">Artist Profile</title>
    <link rel="stylesheet" href="/main.css" />
    <th:block th:replace="~{fragments/timezone-script :: timezone-detector}"></th:block>
</head>

<body>

<!-- Header -->
<div class="artist-header">
    <h1 th:text="${artist.name}">Cameron Winter</h1>
    <div class="artist-genre" th:text="${artist.genre}">Folk / Alternative</div>
</div>

<!-- Temp nav bar
 fan feed could be live stream of thoughts from fans, helps with bringing the community together idea?-->
<div class="nav-bar">
    <a href="#bio">Bio</a>
    <a href="#tours">Tours</a>
    <a href="#merch">Merch</a>
    <a href="#media">Media</a>
    <a href="#fan-feed">Fan feed</a>
</div>

<!-- Main -->
<div class="page-layout">

    <!-- Left colum -->
    <aside class="left-column">

        <div class="box profile-picture">
            Artist profile picture
        </div>

        <div class="box">
            <h3>Spotify</h3>
            <p>Spotify embed will go here.</p>
        </div>

        <div class="box">
            <h3>Bio</h3>
            <p th:text="${artist.bio}"></p>
        </div>

    </aside>

    <!-- middle column-->
    <main class="middle-column" id="fan-feed">

        <div class="box">
            <form id="new-post-form" th:action="@{/artists/{id}/posts(id=${artist.id})}" th:object="${post}" method="post">
                <label class="label" for="post-content" aria-hidden="false">Content</label>
                <textarea
                        id="post-content"
                        rows="3"
                        th:field="*{content}"
                        th:placeholder="'Share an update with your fans...'"></textarea>
                <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
                <button id="post-submit" type="submit">Post</button>
            </form>
        </div>

        <div class="box">
            <ul th:each="post:${posts}">
                <li th:text="${post.content} + ' - Posted at ' + ${#temporals.format(post.timestamp, 'yyyy-MM-dd HH:mm:ss', userTimezone)}"></li>
            </ul>
        </div>

    </main>

    <!-- right column
     fan wall could be carousel of images/videos of fans, maybe they tag artist and they show up here.-->
    <aside class="right-column">

        <div class="box">
            <h3>Upcoming Dates</h3>
            <ul th:each="concert:${concerts}">
                <li th:text="${#temporals.format(concert.concertDate, 'dd MMM yyyy')} + ' - ' + ${concert.venue.city} + ', ' + ${concert.venue.country}"></li>
            </ul>
            <button>View all dates</button>
        </div>

    </aside>

</div>

</body>
</html>
