<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="/index.css"/>
    <link rel="stylesheet" href="/navbar.css"/>
    <th:block th:replace="~{fragments/timezone-script :: timezone-detector}"></th:block>
</head>

<body>

<header class="page-header">
    <div th:insert="~{fragments/navbar :: headerNav}"></div>
</header>

<!-- Header -->
<div class="home-header">
    <h1 th:text="'Welcome, ' + ${user.username}"></h1>
</div>

<!-- Main -->
<div class="home-layout">

    <main class="feed-column" id="artist-updates-home">
        <div class="box">
            <h2>Artist Updates</h2>
            <div class="feed-post box" th:each="post:${posts}">
                <div class="post-header">
                    <h3 th:text="${post.artist != null ? post.artist.name : post.user.name}"> Artist Name </h3>
                    <span class="post-time" th:text="${#temporals.format(post.timestamp, 'yyyy-MM-dd HH:mm:ss', userTimezone)}"></span>
                </div>
                <p th:text="${post.content}"></p>

                <div class="box" th:if="${posts == null or #lists.isEmpty(posts)}">
                    <p>No updates yet. Follow some artists to see their posts!</p>
                </div>
            </div>
        </div>

    </main>

    <!-- Right column -->
    <aside class="concerts-column">

        <div class="box">
            <h2>Upcoming Concerts</h2>
            <div class="feed-post box" th:each="concert:${concerts}">
                <div>
                    <h2 th:text="${concert.artist.name}"></h2>
                    <h3 th:text="${concert.venue.venueName}"></h3>
                    <p th:text="${#temporals.format(concert.concertDate, 'dd MMM yyyy')} + ' - ' + ${concert.venue.city} + ', ' + ${concert.venue.country}"></p>
                </div>
            </div>
            <button>View all dates</button>
        </div>
    </aside>
</div>

</body>
</html>